[access]
	inheritFrom = All-Projects
[project]
	description = An Angular UI library containing different components, fonts and styles used by SDC and the different designers in order to create a single look and feel across SDC
	state = read only
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-onap-ui-angular-committers
